/*

purple: #462E83
orange: #F3951F
lt gray: #A19DB2
dk gray: #3B3A44

Font weights:
Lato Light: 300
Lato Regular: 400 (normal)
Lato Bold: 700 (bold)
Rokkit Regular: 400 (normal)
Rokkit Bold: 700 (bold)
http://fonts.googleapis.com/css?family=Lato:300,400,700|Rokkitt:400,700

*/

#cc-infographic {
	background-color: #A19DB2;
	color: #3B3A44;
	font: 300 22px/1.2 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	width: 800px;
}

#cc-infographic hr {
	
}

#cc-infographic h1,
#cc-infographic h2 {
	font: 'Rokkit', serif;
	margin: 0;
	padding: 0;
}

#cc-infographic h1 {
	background-color: #462E83;
	color: #fff;
	font-size: 68px;
	margin: 0;
	padding: 0;
	text-align: justify;
	text-transform: uppercase;
}

#cc-infographic h2 {
	
}