/*

purple: #462E83
orange: #F3951F
lt gray: #C4C3D1
dk gray: #3B3A44
black: #231F20

Font weights:
Lato Light: 300
Lato Regular: 400 (normal)
Lato Bold: 700 (bold)
Rokkit Regular: 400 (normal)
Rokkit Bold: 700 (bold)
http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Rokkitt:400,700

*/

/* Code to assist demo and local development */
@import 'fonts/fonts.css';

.slug-home #content {
	width: 800px;
}
#cc-infographic .demo {
	display: none;
}


/* Reset for our section */
#cc-infographic,
#cc-infographic img,
#cc-infographic div,
#cc-infographic h1,
#cc-infographic h2,
#cc-infographic p,
#cc-infographic ul,
#cc-infographic li,
#cc-infographic blockquote {
	color: #231F20;
	font: normal normal 300 22px/1.2 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	width: auto;
	height: auto;
}



#cc-infographic {
	background-color: #C4C3D1;
	width: 797px;
}

#cc-infographic h1,
#cc-infographic h2 {
	font-family: 'Rokkitt', serif;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 0;
	width: auto;
}

#cc-infographic h1 {
	background-color: #3B3A44;
	color: #fff;
	font-size: 68px;
	text-align: justify;
	text-transform: uppercase;
}

#cc-infographic h2 {
	font-size: 50px;
}